{% extends "base.html" %}
{% block title %}Upload Document{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h2 class="text-primary">Upload Document</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
      <label for="id_client" class="form-label">Client</label>
      {{ form.client }}
      {{ form.client.errors }}
    </div>

    <div class="mb-3">
      <label for="id_document" class="form-label">Document</label>
      {{ form.document_file }}
      {{ form.document.errors }}
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
